<br-selector br-selected="$ctrl.selected"
  br-on-select="$ctrl.onSelect({selected: selected})"
  br-on-add-item="$ctrl.showAddModal=true"
  br-item-type="'Key'"
  br-items="$ctrl.keys"
  br-fixed="$ctrl.fixed"
  br-show-choices="$ctrl.showChoices">
  <br-selector-selected>
    <div>
      <strong>{{$ctrl.selected.label}}</strong>
      <br/>
      <small>{{$ctrl.selected.id}}</small>
    </div>
  </br-selector-selected>
  <br-selector-choices>
    <ul class="list-unstyled">
      <li class="br-item-hover well" ng-repeat="key in $ctrl.keys"
        ng-click="$ctrl.selected=key; $ctrl.showChoices=false">
        <strong>{{key.label}}</strong>
        <br/>
        <small>{{key.id}}</small>
      </li>
    </ul>
  </br-selector-choices>
</br-selector>
<stackable-modal stackable="$ctrl.showAddModal"
  stackable-closed="!err && ($ctrl.selected=result)"
  br-lazy="$ctrl.showAddModal" br-lazy-id="br-key-selector-add-key-modal">
  <br-generate-key-pair-modal br-identity="$ctrl.identity"></br-generate-key-pair-modal>
</stackable-modal>
