<br-selector br-selected="$ctrl.selected"
  br-on-select="$ctrl.onSelect({selected: selected})"
  br-on-add-item="$ctrl.showAddModal=true"
  br-item-type="'Key'"
  br-items="$ctrl.keys"
  br-fixed="$ctrl.fixed"
  br-show-choices="$ctrl.showChoices"
  br-allow-select-none="true">
  <br-selector-selected>
    <div ng-if="$ctrl.selected">
      <h4>{{$ctrl.selected.label}}</h4>
      <small>{{$ctrl.selected.id}}</small>
      <div ng-if="$ctrl.selected.sysStatus == 'disabled'" class="alert alert-danger">
        This key is disabled and <strong>must</strong> be replaced.
      </div>
    </div>
  </br-selector-selected>
  <br-selector-choices>
    <ul class="list-unstyled">
      <li class="br-item-hover well"
        ng-repeat="key in $ctrl.keys | filter:$ctrl.keyFilter"
        ng-click="$ctrl.selected=key; $ctrl.showChoices=false">
          <h4>
            {{key.label}}
            <span ng-if="key.id == $ctrl.selected.id" class="pull-right label label-primary" >
              Selected
            </span>
          </h4>
        <small>{{key.id}}</small>
        <div ng-if="key.sysStatus == 'disabled'" class="alert alert-danger">
          This key is disabled and <strong>must</strong> be replaced.
        </div>
      </li>
    </ul>
  </br-selector-choices>
</br-selector>
<stackable-modal stackable="$ctrl.showAddModal"
  stackable-closed="!err && ($ctrl.selected=result)"
  br-lazy="$ctrl.showAddModal" br-lazy-id="br-key-selector-add-key-modal">
  <br-generate-key-pair-modal br-identity="$ctrl.identity"
    br-on-key-generate="$ctrl.onKeyGenerate(key)"></br-generate-key-pair-modal>
</stackable-modal>
