<div class="section section-keys">
  <br-headline br-title="Keys" br-loading="$ctrl.state.loading">
    <ul class="stackable-menu dropdown-menu">
      <li ng-show="$ctrl.isOwner && !$ctrl.hideGenerate">
        <a class="stackable-cancel" ng-click="$ctrl.modals.showGenerateKeyPair=true">
          <i class="fa fa-plus"></i> Generate Key Pair
        </a>
      </li>
      <li ng-show="$ctrl.operations.add">
        <a class="stackable-cancel" ng-click="$ctrl.modals.showAddKey=true">
          <i class="fa fa-plus"></i> Add Key
        </a>
      </li>
      <li>
        <a class="stackable-cancel" ng-click="$ctrl.showRevokedKeys=!$ctrl.showRevokedKeys">
          <i class="fa" ng-class="{'fa-check-square-o': $ctrl.showRevokedKeys, 'fa-square-o': !$ctrl.showRevokedKeys}">
          </i> Show Revoked Keys
        </a>
      </li>
    </ul>
  </br-headline>
  <table class="table table-condensed"
    ng-show="$ctrl.state.loading || $ctrl.activeKeys || ($ctrl.keys.length > 0 && $ctrl.showRevokedKeys)">
    <thead>
      <tr>
        <th>Name</th>
        <th class="br-compact">Status</th>
        <th class="br-action" ng-show="$ctrl.operations.add">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="key in $ctrl.keys | orderBy:'label' | orderBy:'sysStatus':reverse"
        ng-show="key.sysStatus == 'active' || $ctrl.showRevokedKeys"
        ng-class="{'danger': key.sysStatus == 'disabled'}">
        <!-- Name -->
        <td>
          <a href="{{key.id}}">{{key.label}}</a>
        </td>
        <!-- Status -->
        <td class="br-compact">
          <span ng-show="key.sysStatus == 'disabled'">Revoked</span>
          <span ng-show="key.sysStatus == 'active'">Active</span>
        </td>
        <!-- Action -->
        <td class="br-action" ng-show="$ctrl.operations.add">
          <br-action-menu>
            <ul class="dropdown-menu stackable-menu">
              <!-- Edit -->
              <li>
                <a class="stackable-cancel" ng-click="$ctrl.editKey(key)">
                  <i class="fa fa-pencil"></i> Edit
                </a>
              </li>
              <!-- Revoke -->
              <li class="divider" ng-hide="key.sysStatus == 'disabled'"></li>
              <li class="alert-danger" ng-hide="key.sysStatus == 'disabled'">
                <a class="stackable-cancel" ng-click="$ctrl.revokeKey(key)">
                  <i class="fa fa-times"></i> Revoke
                </a>
              </li>
            </ul>
          </br-action-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="!$ctrl.state.loading && !$ctrl.activeKeys">
    <p class="text-center">There are no active keys associated with this identity.
    Access keys can be added by using an external website or application
    or one can be generated that this site controls.</p>
  </div>
  <stackable-modal stackable="$ctrl.modals.showGenerateKeyPair"
    br-lazy-compile="$ctrl.modals.showGenerateKeyPair" br-lazy-id="br-keys-view-generate-key-pair-modal">
    <br-generate-key-pair-modal
      br-identity="$ctrl.identity"
      br-on-key-generate="$ctrl.onKeyGenerate(key)"></br-generate-key-pair-modal>
  </stackable-modal>
  <stackable-modal stackable="$ctrl.modals.showAddKey"
    br-lazy-compile="$ctrl.modals.showAddKey" br-lazy-id="br-keys-view-add-key-modal">
    <br-add-key-modal
      br-identity="$ctrl.identity"
      br-on-add="$ctrl.addKey(key)">
    </br-add-key-modal>
  </stackable-modal>
  <stackable-modal stackable="$ctrl.modals.showEditKey"
    br-lazy-compile="$ctrl.modals.showEditKey" br-lazy-id="br-keys-view-edit-key-modal">
    <br-edit-key-modal
      br-identity="$ctrl.identity"
      br-key="$ctrl.modals.key"></br-edit-key-modal>
  </stackable-modal>

  <!-- Revoking key alert -->
  <stackable-modal stackable="$ctrl.modals.showRevokeKeyAlert"
    stackable-closed="$ctrl.confirmRevokeKey(err, result)"
    br-lazy-compile="$ctrl.modals.showRevokeKeyAlert" br-lazy-id="br-keys-view-revoke-key-modal">
    <br-alert-modal
      br-modal-header="Warning"
      br-modal-ok="Revoke"
      br-modal-cancel="Cancel">
      <div class="text-center alert alert-danger">
        <strong>Warning!</strong>
        Revoking a key is permanent.
      </div>
      <p>Any functionality provided by this key will be invalidated and any
      applications that use this key will be disabled.
      You can re-enable your access and applications by registering a new
      key.</p>
      <p>Are you sure that you want to revoke this key?</p>
    </br-alert-modal>
  </stackable-modal>
</div>
